:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none;
  font-size: 0.7em;
}

:global(.ui.basic.label).deleteBtn {
  border: none;
  font-size: 1em;
  color: red;
}
