.focused {
	background-color: #CAFCEA;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
}

.unfocused {
	background-color: #F3FEFA;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
}