.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
  padding-bottom: 20px;
}

.toolbar_right {
  float: right;
  padding-right: 1.5em;
}

.toolbar_left {
  float: left;
  padding-left: 1.5em;
}